.env/
.envvenv/
.venv/
venv/
env/
*.pyc
*.pyo
__pycache__/
*.pyd
myenv
db.sqlite3
*.sqlite3
*.log
*.pot
*.py[cod]
.DS_Store
.idea/
*.env
*.pid
docker-compose.override.yml
media/
proofs/
receipts/
staticfiles/